[Unit]
Description=Run Octoprint Numpad Control Service
After=network.target

[Service]
WorkingDirectory=/home/pi/octoprint-numpad-control
ExecStart=venv/bin/python -u OctoNumCtl.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target